@model Minesweeper.Models.UserModel

@{
    ViewBag.Title = "Minesweeper";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<!DOCTYPE html>

<div class="form-horizontal">
    <br />    <br />    <br />    <br />
    <h4>Online Minesweeper</h4>
    <hr />

    <div>
        Welcome back @Model.Username! Have fun!
    </div>
</div>